*{
	margin:0px;
	padding:0px;
	scroll-behavior: smooth;
}
h1{
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	color: #303030;
	text-decoration: none;
	text-align:center;
}
h2{
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: #545454;
	text-decoration: none;
}
.serviceparag{
	font-size: 16x;
	font-family: 'Lato', sans-serif;
	color: #808080;
	text-align: justify;
	line-height: 1.35;
}
header{
	width:100%;
	height:80px;
	position:fixed;
	
	-webkit-transition: all 0.4s ease;
 		transition: all 0.4s ease;
}
#headerh{
	width:100%;
	height:80px;
	position:absolute;	
}
#headerhf{
	width:100%;
	height:80px;
	position:absolute;
	background-color: #ffffff;
}
.fixed-header{
	width:100%;
	height:80px;
	position:fixed;
 	background-color: #ffffff;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
	
	-webkit-transition: all 0.4s ease;
 		transition: all 0.4s ease;
 }
.banner {
 
  position: relative;
  overflow: hidden;


  background: rgba(25, 25, 25, 0.8);
  height:100vh;
}

.banner__video {
	
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
#logo{
	width:190px;
	height:50px;
	position:fixed;
	float:left;
	margin-top:20px;
	margin-left:50px;
	background-image: url("../img/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
		-webkit-transition: all 0.4s ease;
 		transition: all 0.4s ease;

}
#logof{
	width:190px;
	height:50px;
	position:fixed;
	float:left;
	margin-top:20px;
	margin-left:50px;
	background-image: url("../img/flogo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
		-webkit-transition: all 0.4s ease;
 		transition: all 0.4s ease;
}

nav{
	width:60%;
	height:10%;
	position:fixed;
	left:40%
}
nav ul{
	float:right;
	margin-top:46px;
	margin-right:50px;
	list-style-type: none;
}
nav ul li{
	float:left;
	padding:0px 18px;
	display: inline;
}
nav ul li a{
	color: #bcbbbc;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
/*nav ul li a:hover{
	color: #ffffff;
	padding-bottom: 2px;
	border-bottom: 1px solid;
	border-bottom-color: #89216b;
}*/
.fixed-nav ul li a{
	color: #3e3e3e;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
 }
 .fixed-nav ul li a:hover{
	color: #000000;
	padding-bottom: 2px;
	border-bottom: 1px solid;
	border-bottom-color: #931737; /*#89216b*/
}
.scrollarroww {
	color: #ffffff;
}
.scrollarrow{
	color: #ffffff;
	position:absolute;
    bottom: 0;
	margin-left:49%;

}
.scrollarrow a:hover{
	color: #931737;
}
.scrollarrowwscnd{
	color: #808080;
}
#scrollarrowscnd{
	color: #000000;
    bottom: 0;
	margin-left:49%;
}
#scrollarrowscnd a:hover{
	color: #545454;
}
.act{
	color: #ffffff;
	padding-bottom: 2px;
	border-bottom: 1px solid;
	border-bottom-color: #931737;
	font-weight: bold;
}
.mynavbar:hover{
	color: #ffffff;
	padding-bottom: 2px;
	border-bottom: 1px solid;
	border-bottom-color: #931737;
}
.cleaner{
	clear: both;
}
#crtica{
	width:100px;
	height:1px;
	position:absolute;
	margin-top:287px;
	margin-left:175px;
	background-color: #931737;
}
#txtc{
	width:50%;
	height:250px;
	position:absolute;
	float:left;
	margin-top:280px;
	margin-left:50px;
	
}
#txtcs{
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#txtcc{
	color: #ffffff;
	text-decoration: none;
	font-size: 50px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
#services{
	background-color:#ffffff;
	height:700px;
	width: 100%;
}
#serviceskk{
	/*background-color:pink;*/
	height:100%;
	width: 94%;
	margin-left:3%;
}
#serviceskkunutra{
	/*background-color:green;*/
	height:350px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-content: space-between;
}
.servicesnew{
	width: 32%;
	height: 130px;
	/*background-color: red;*/
}
.serviceicon{
	float:left;
	height:130px;
	width:130px;
	background-color:#323232;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center

}
.serviceicon:hover{
	background-color:#931737;
}
.serviceicontxttt{
	width: calc(100% - 140px);
	height: 130px;
	/*background-color: purple;*/
	float:right;
}
.servicetxtnaslov{
	width: 100%;
	height: 24%;
	/*background-color: yellow;*/
}
.servicetxtsmali{
	width: 100%;
	height: 65%;
	/*background-color: yellow;*/
	margin-top:5%;
}
#aboutme{
	background-color:#f8f8f8;
	height:560px;
	width: 100%;
}
.contspace{
	width: 94%;
	height: 95px;
	/*background-color: green;*/
	margin-left:3%;
}
.contspacesmall{
	width: 94%;
	height: 44px;
	/*background-color: green;*/
	margin-left:3%;
}
.contspacemed{
	width: 94%;
	height: 80px;
	/*background-color: green;*/
	margin-left:3%;
}
#aboutmek{
	width: 94%;
	height: 480px;
	/*background-color: red;*/
	margin-left:3%;

}
#aboutmetxt{
	margin-top:2%;
	width: 63%;
	height: 360px;
	/*background-color:green;*/
	float:left;
	
}
#aboutmeavatar{
	margin-top:2%;
	width: 33%;
	height: 360px;
	/*background-color:blue;*/
	float:right;
}
#aboutmeavatark{
	width: 100%;
	height: 80%;
	/*background-color:pink;*/
	align-items: center;
	justify-content: center
}
.avatar{
  margin-top:6%;
  margin-left:8%;
  vertical-align: middle;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 3px solid #931737;
}
#aboutmeavatarktxt{
	width: 70%;
	height: 20%;
	/*background-color:green;*/
}
.abtme{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #808080;
	text-decoration: none;
	text-align:center;
	font-style: italic;
	font-weight: bold;
}
#aboutmetxt{
	font-size: 34px;
	font-family: 'Lato', sans-serif;
	color: #808080;
	text-decoration: none;
	text-align:center;
}
#helpc{
	background-color:#89216b;
	background-image: linear-gradient(80deg, #4d1349, #de1b23);
	height:240px;
	width: 100%;
	margin:0 auto;
	display: flex;
	align-items: center;
	justify-content: center
}
#helppc{
	color: #ffffff;
	font-size: 32px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
.helppcc{
	color: #ffffff;
}
#helppc a:hover{
	text-decoration: none;
}
#footer{
    width: 100%;
    height: 400px;
    background-color: #141414;
    clear: both;
}
#footerk{
	width: 94%;
	height: 400px;
	/*background-color: red;*/
	margin-left:3%;
	display:flex;
	justify-content:space-around;
}
.footerkblock{
	margin-top:4%;
	width: 31%;
	height: 300px;
	/*background-color:green;*/
}
#socialicons{
	color:#ffffff;
	letter-spacing: 20px;
	margin-top: 14px;
}
.siconsc{
	color: #ffffff;;
}
#socialicons a:hover{
	color: #bcbbbc;
}
h3{
	color: #bcbbbc;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
#mobilec{
	margin-top:25px;
	color: #ffffff;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
#mailc{
	color: #ffffff;
	font-size: 19px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
}
.mailcc{
	color: #ffffff;
}
#mailc a:hover{
	color: #bcbbbc;
	text-decoration: none;
}
.show-mob{
display: none;
}